<!-- source template: waddashboard/consistency.html -->
{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}
{%if add_refresh is defined %}
<span> <input type="checkbox" checked="checked" id="autoRefreshCheckbox" name="autoRefreshCheckbox" onclick="toggleAutoRefresh(this);" >Auto Refresh</input></span>
{% endif %}

<div>
  <div>
    <h2> {{ title }} </h2>
    <div class="card {{inpanel['type']}} mb-3">
      <div class="card-header">{{inpanel['title']}}
      </div>
      <div class="card-body">
        {% if inpanel['content'] is string %}
          {{inpanel['content']}}
        {% else %}
          {% for line in inpanel['content'] %}
            {{line}}<BR>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    {% if html %}
    <div> {{ html}} </div>
    {% if action_send %}
      <form id="sendForm" method="POST" action="{{action_send}}" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ form.resendform.csrf_token }}
        {{ form.resendform.posttable }}  
        <button type="submit" class="btn btn-primary sendToSelector" >{{label_send}}</button>
      </form>
    {% endif %}
    {% if action_delete %}
      <form id="deleteForm" method="POST" action="{{action_delete}}" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ form.deleteform.csrf_token }}
        {{ form.deleteform.posttable }}  
        <button type="submit" class="btn btn-danger deleteFromPACS" >{{label_delete}}</button>
      </form>
    {% endif %}
    <script>
    function getShownData(){
        var datasets = [];
        // find only visible rows; we're ignoring filtered/hidden rows
        $('#sortTable').find('tbody tr:visible').each(function(){
            datasets.push( [$(this).find('td:eq(0)').text(), $(this).find('td:eq(1)').text(), $(this).find('td:eq(2)').text()]);                    
        });
    
        return datasets;
    };
    {% if action_send %}
      $('#sendForm').submit(function() {
          datasets = getShownData();
          $('input#resendform-posttable').val( JSON.stringify(datasets) );
        return true;
      });
    {% endif %}
    {% if action_delete %}
      $('#deleteForm').submit(function() {
          datasets = getShownData();
          $('input#deleteform-posttable').val( JSON.stringify(datasets) );
        return true;
      });
    {% endif %}
    </script>
    {% endif %}
  </div>
</div>
{% endblock %}
{% block refreshpage %}
{% if add_refresh is defined %}
  {% if add_refresh > 0 %}
    <script>
    var reloading;

    function toggleAutoRefresh(cb) {
        if (cb.checked) {
            window.location.replace("#autoreload");
            reloading=setTimeout("window.location.reload();", {{1000*add_refresh}});
        } else {
            window.location.replace("#");
            clearTimeout(reloading);
        }
    }

    function checkReloading() {
        var cb = document.getElementById("autoRefreshCheckbox");
        if (window.location.hash=="#autoreload") {
            cb.checked = true;
            reloading=setTimeout("window.location.reload();", {{1000*add_refresh}});
        } else {
            toggleAutoRefresh(cb);
        }
    }
    </script>
  {% endif %}
{% endif %}
{% endblock %}
