<!-- source template: waddashboard/generic.html -->
{% extends "layout.html" %}

{% block content %}
{%if add_refresh is defined %}
<span> <input type="checkbox" checked="checked" id="autoRefreshCheckbox" name="autoRefreshCheckbox" onclick="toggleAutoRefresh(this);" >Auto Refresh</input></span>
{% endif %}
<h2> {{ title }} </h2>
{% if subtitle %}
  <h4>
  {% if subtitle is string %}
    {{subtitle}}
  {% else %}
    {% for line in subtitle %}
      {{line}}<BR>
    {% endfor %}
  {% endif %}
  </h4>
{% endif %}
{% if inpanel %}
<div class="card {{inpanel['type']}} mb-3">
  <div class="card-header">{{inpanel['title']}}
  </div>
  <div class="card-body">
    {% if inpanel['content'] is string %}
      {{inpanel['content']}}
    {% else %}
      {% for line in inpanel['content'] %}
        {{line}}<BR>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endif %}
{% if msg %}
<pre>{{msg}}</pre>
{% endif %}
{% if html %}
<div> {{ html}} </div>
{% endif %}
{% endblock %}
{% block refreshpage %}
{% if add_refresh is defined %}
  {% if add_refresh > 0 %}
    <script>
    var reloading;

    function toggleAutoRefresh(cb) {
        if (cb.checked) {
            window.location.replace("#autoreload");
            reloading=setTimeout("window.location.reload();", {{1000*add_refresh}});
        } else {
            window.location.replace("#");
            clearTimeout(reloading);
        }
    }

    function checkReloading() {
        var cb = document.getElementById("autoRefreshCheckbox");
        if (window.location.hash=="#autoreload") {
            cb.checked = true;
            reloading=setTimeout("window.location.reload();", {{1000*add_refresh}});
        } else {
            toggleAutoRefresh(cb);
        }
    }
    </script>
  {% endif %}
{% endif %}
<script>
document.addEventListener('DOMContentLoaded', ()=> {
   // find plot div if present
   var plot=document.getElementsByClassName('js-plotly-plot')[0]
   if(plot){
      // add onclick handler to datapoints in plot
      plot.on('plotly_click', function(t,e){
	   // only act on mouseclicks on the measurement series; not on critical/acceptable low/high
       if(t.points[0].data.name==="measurement") {
          // open results page in new window for this specific measurement 
          window.open(`show?rid=${t.points[0].customdata}`, '_blank');
       }
      });
   }
});
</script>
{% endblock %}
