<!-- source template: waddashboard/manualinput.html -->
{% extends "layout.html" %}

{% block content %}
<h2> {{ title }} </h2>
{% if subtitle %}
  <h4>
  {% if subtitle is string %}
    {{subtitle}}
  {% else %}
    {% for line in subtitle %}
      {{line}}<BR>
    {% endfor %}
  {% endif %}
  </h4>
{% endif %}
{% if inpanel %}
<div class="card {{inpanel['type']}} mb-3">
  <div class="card-header">{{inpanel['title']}}
  </div>
  <div class="card-body">
    {% if inpanel['content'] is string %}
      {{inpanel['content']}}
    {% else %}
      {% for line in inpanel['content'] %}
        {{line}}<BR>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endif %}


    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ field }} : {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}

<style>
[tooltip]:before {
    /* needed - do not touch */
    content: attr(tooltip);
    position: absolute;
    opacity: 0;
    
    /* customizable */
    /* transition: all 0.15s ease; */
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;    
}

[tooltip]:hover:before {
    /* needed - do not touch */
    opacity: 1;
    
    /* customizable */
    background: #bed7e8;
    margin-top: 20px;
    margin-left: 50px;    
}

[tooltip]:not([tooltip-persistent]):before {
    pointer-events: none;
}
</style>

<form action="" method="post">
{{ form.hidden_tag() }}
<TABLE>
{% for field in inputlist %}
  <TR>
    <TD><div tooltip="{{ field['desc'] }}">{{ field['name'] }}:</div></TD>
{% if form[field['name']].type != "BooleanField" %}
    <TD>{{ form|attr(field['name'])(style="width:64ch") }}</TD>
{% else %}
    <TD>{{ form|attr(field['name'])() }}</TD>
{% endif %}
  </TR>
{% endfor %}
</TABLE>
<div>
<button type="submit" name="submit">Submit</button>
</div>
</form>

{% if msg %}
<pre>{{msg}}</pre>
{% endif %}
{% if html %}
<div> {{ html}} </div>
{% endif %}
{% endblock %}
{% block refreshpage %}
{% if add_refresh is defined %}
  {% if add_refresh > 0 %}
    <script>
    var reloading;

    function toggleAutoRefresh(cb) {
        if (cb.checked) {
            window.location.replace("#autoreload");
            reloading=setTimeout("window.location.reload();", {{1000*add_refresh}});
        } else {
            window.location.replace("#");
            clearTimeout(reloading);
        }
    }

    function checkReloading() {
        var cb = document.getElementById("autoRefreshCheckbox");
        if (window.location.hash=="#autoreload") {
            cb.checked = true;
            reloading=setTimeout("window.location.reload();", {{1000*add_refresh}});
        } else {
            toggleAutoRefresh(cb);
        }
    }
    </script>
  {% endif %}
{% endif %}
{% endblock %}




