<!-- source template: waddashboard/usergroup.html -->
{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <h2> {{ title }} </h2>
    {% if subtitle %}
    <h4>
    {% if subtitle is string %}
      {{subtitle}}
    {% else %}
      {% for line in subtitle %}
        {{line}}<BR>
      {% endfor %}
    {% endif %}
    </h4>
    {% endif %}
    <div class="card panel-info mb-3">
      <div class="card-header">info
      </div>
      <div class="card-body">
        {% if msg is string %}
          {{msg}}
        {% else %}
          {% for line in msg %}
            {{line}}<BR>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="{{action}}" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      <TABLE>
      <TR>
        <TD>{{ form.gid }}</TD>
      </TR>
      </TABLE>
      <div>
        <TABLE class="tablesorter-wadred" id="sortTable">
        <THEAD>
          <TH>id</TH><TH>Name</TH><TH>Description</TH><TH>Section</TH><TH data-sorter="false" data-filter="false">Include</TH>
        </THEAD><TBODY>
        {% for entry in form.groups %}
           <TR> 
            <TD>{{ entry.grp_id }} {{ entry.grp_id.data }}</TD>
            <TD>{{ entry.grp_name }} {{ entry.grp_name.data }} </TD> 
            <TD>{{ entry.grp_description }} {{ entry.grp_description.data }}</TD>
            <TD>{{ entry.grp_section }} {{ entry.grp_section.data }}</TD>
            <TD>{{ entry.grp_selected }} </TD>
          </TR>
        {% endfor %}
        </TBODY></TABLE>
      <TABLE>
      <TR>
        <TD> {{ form.include_what.label }} {{ form.include_what}}</TD>
      </TR>
      </TABLE>
      </div>
      <div>
        <button type="submit" name="submit">Submit</button>
      </div>
    </form>  
  </div>
</div>
{% endblock %}
