<!-- source template: elements/div.html -->
{% if style %}
  <div style="{{style}}">
  {% if labels %}
  {% for lab in labels %}
    {{lab}}<BR>
  {% endfor %}
  {% else %}
    {{label}}
  {% endif %}  
  </div>
{% else %}
  <div>
  {% if labels %}
  {% for lab in labels %}
    {{lab}}<BR>
  {% endfor %}
  {% else %}
    {{label}}
  {% endif %}  
  </div>
{% endif %}