<!-- source template: waddashboard/panel.html -->
<div class="card {{inpanel['type']}} mb-3">
  <div class="card-header">{{inpanel['title']}}
  </div>
  <div class="card-body">
    {% if inpanel['content'] is string %}
      {{inpanel['content']}}
    {% else %}
      {% for line in inpanel['content'] %}
        {{line}}<BR>
      {% endfor %}
    {% endif %}
  </div>
</div>
