<!-- source template: wadconfig/export_modules.html -->
{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<script>
  $(document).ready(function(){
     $("#toggle_checkboxes").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
     });
  });
</script>

<div>
  <div>
    <h2> {{ title }} </h2>
    <div class="card panel-info mb-3">
      <div class="card-header">info
      </div>
      <div class="card-body">
        {% if msg is string %}
          {{msg}}
        {% else %}
          {% for line in msg %}
            {{line}}<BR>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}

    <input type="checkbox" id="toggle_checkboxes"><label>(de)select all</label>

    <form method="POST" action="{{action}}" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      <TABLE>
      <TR>
        <TD>{{ form.gid }}</TD>
      </TR>
      </TABLE>
      <div>
        <TABLE class="tablesorter-wadred" id="sortTable">
        <THEAD>
          <TH>id</TH><TH>Name</TH><TH>Description</TH><TH>has_meta</TH><TH>Origin</TH><TH>Selector</TH><TH data-sorter="false" data-filter="false">Export</TH>
        </THEAD><TBODY>
        {% for entry in form.configs %}
           <TR> 
            <TD>{{ entry.cid.data }} {{ entry.cid }}</TD>
            <TD>{{ entry.cfg_name.data }} </TD> 
            <TD>{{ entry.cfg_description.data }}</TD>
            <TD>{{ entry.cfg_hasmeta.data }} </TD> 
            <TD>{{ entry.cfg_origin.data }} </TD> 
            <TD>{{ entry.cfg_selector.data }} </TD> 
            <TD>{{ entry.cfg_selected }} </TD>
          </TR>
        {% endfor %}
        </TBODY></TABLE>
      </div>
      <div>
        <button type="submit" name="submit">Export</button>
      </div>
    </form>  
  </div>
</div>
{% endblock %}
