<!-- source template: wadconfig/home.html -->
{% extends "layout.html" %}
{% block content %}
<h2> {{ title }} </h2>
<div class="card-columns wad-gutter">
{% for menu in menus %}
    <div class="card panel-menu mb-3">
      <div class="card-header">{{ menu['title'] }}
      </div>
      <div class="card-body">
        {% for item in menu['items'] %}
            <p>
            <a href="{{ item['href'] }}">
                {{ item['label'] }}
            </a>
            </p>
        {% endfor %}
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}
