<!-- source template: wadconfig/manualinput.html -->
{% extends "layout.html" %}

{% block content %}
<h2> {{ title }} </h2>
{% if subtitle %}
  <h4>
  {% if subtitle is string %}
    {{subtitle}}
  {% else %}
    {% for line in subtitle %}
      {{line}}<BR>
    {% endfor %}
  {% endif %}
  </h4>
{% endif %}
{% if inpanel %}
<div class="card {{inpanel['type']}} mb-3">
  <div class="card-header">{{inpanel['title']}}
  </div>
  <div class="card-body">
    {% if inpanel['content'] is string %}
      {{inpanel['content']}}
    {% else %}
      {% for line in inpanel['content'] %}
        {{line}}<BR>
      {% endfor %}
    {% endif %}
  </div>
</div>
{% endif %}
{% if msg %}
<pre>{{msg}}</pre>
{% endif %}
{% if html %}
<div> {{ html}} </div>
{% endif %}
{% endblock %}
