<!-- source template: wadconfig/ruletags_modify.html -->
{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <h2> {{ title }} </h2>
    <div class="card panel-info mb-3">
      <div class="card-header">info
      </div>
      <div class="card-body">
        {% if msg is string %}
          {{msg}}
        {% else %}
          {% for line in msg %}
            {{line}}<BR>
          {% endfor %}
        {% endif %}
      </div>
    </div>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="{{action}}" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      <TABLE>
      <TR>
        <TD>{{ form.gid }}</TD>
      </TR>
      </TABLE>
      <div>
      <legend> Selected Tags </legend>
        <TABLE class="tablesorter-wadred" id="sortTableNot">
        <THEAD>
          <TH>id</TH><TH>Name</TH><TH>Value</TH><TH data-sorter="false" data-filter="false">Delete</TH>
        </THEAD><TBODY>
        {% for entry in form.currenttags %}
           <TR> 
            <TD>{{ entry.cid.data }} {{ entry.cid }}</TD>
            <TD>{{ entry.tag_name.data }} </TD> 
            <TD>{{ entry.tag_val.data }}</TD>
            <TD>{{ entry.tag_selected }} </TD>
          </TR>
        {% endfor %}
        </TBODY></TABLE>
      </div>
      <div>
      <legend> Unselected Tags </legend>
        <TABLE class="tablesorter-wadred" id="sortTable">
        <THEAD>
          <TH>Name</TH><TH>Value</TH><TH data-sorter="false" data-filter="false">Add</TH>
        </THEAD><TBODY>
        {% for entry in form.optionaltags %}
           <TR> 
            <TD>{{ entry.tag_name.data }} {{ entry.tag_name }}</TD> 
            <TD>{{ entry.tag_val.data }} {{ entry.tag_val }}</TD>
            <TD>{{ entry.tag_selected }} </TD>
          </TR>
        {% endfor %}
        </TBODY></TABLE>
      </div>
      <legend> Add Private Tag </legend>
        <TABLE  class="divgrey">
        <TH>Name</TH><TH>Value</TH>
        <TR>
          <TD>{{ form.priv_name(style="width:64ch") }}</TD>
          <TD>{{ form.priv_value(style="width:64ch") }}</TD>
        </TR><TR>
        </TABLE>
      </div>
      <p>
      <div>
        <button type="submit" name="submit">Submit</button>
      </div>
    </form>  
  </div>
</div>
{% endblock %}
