<!-- source template: elements/paginations.html -->
<nav aria-label="{{label}}">
  <ul class="pagination">
    {% for item in items %}
      {% if item['active'] %}
        <li class="page-item"><a class="page-link" href="{{item['href']}}">{{item['lab']}}</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">{{item['lab']}}</span></li>
      {% endif %}
    {% endfor %}
    <li class="page-item disabled"><span class="page-link" style="color:black;">{{info}}</span></li>
  </ul>
</nav>
