<!-- source template: elements/spinner.html -->
{% if label %}
<label for="{{name}}">{{label}}</label>
{% endif %}
{% if min %}
  {% if max %}
    <input id="{{name}}" type="number" value="{{val}}" min="{{min}}" max="{{max}}"/>
  {% else %}
    <input id="{{name}}" type="number" value="{{val}}" min="{{min}}"/>
  {% endif %}
{% else %}
    <input id="{{name}}" type="number" value="{{val}}"/>
{% endif %}
{% if fun %}
  <script> 
  jQuery(function () { jQuery("#{{name}}").change(function () {
    {{fun}}
    });
  })
  </script>
{% endif %}